@import "tailwindcss";

html {
  font-size: 14px;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: var(--font-mona-sans), sans-serif;
}

:root {
  --col1: #7f55b1;
  --col2: #9b7ebd;
  --col3: #f49bab;
  --col4: #ffe1e0;
}

.pattern {
  background-image: url("../public/ShinyOverlay.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  padding: 2rem;
  align-items: center;
}

.auth-card {
  padding: 2px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #313233df, #1b1a1a76);
}
