@import "tailwindcss";

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: var(--font-mona-sans), sans-serif;
}

:root {
  --col1: #7f55b1;
  --col2: #9b7ebd;
  --col3: #f49bab;
  --col4: #ffe1e0;
}

.pattern {
  background-image: url("../public/ShinyOverlay.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  padding: 2rem;
  align-items: center;
}

/* .card-cta {
  border: solid 2px #141414;
  border-radius: 40px;
  padding: 2rem 1rem 0rem 3rem;
  background: linear-gradient(to bottom, #13092e, #00000000);
} */

.auth-card {
  padding: 2px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #252627df, #0e0e0e76);
}
